body {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding: 0;
            }

        header {
            background-color: #1a273f;
            color: #fff;
            padding: 1rem 0;
            text-align: center;
            }

        nav ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 1rem;
            }

        nav a {
            color: white;
            text-decoration: none;
            }

        nav a:hover {
            text-decoration: underline;
            }


@media (max-width: 600px) { 
    nav ul { flex-direction: column; } 

    img{
        width: 100%;
    }}